// Fonts
@import url('https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import '~vuetify/dist/vuetify.css';
@import '~sweetalert2/dist/sweetalert2.css';

a {
  text-decoration: none;
}

.v-date-time-widget-container{
  background: white;
  padding:15px;
}


.btn-am{
  float:left;
}

.btn-pm{
  float:right;
}

.v-date-picker-table{
  height: auto;
}

.swal2-popup {
  font-family: 'Roboto', sans-serif !important;
}